.wrapper {
  min-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background: inherit;
  padding-top: 1rem;
}

@media (max-width: 700px) {
  .wrapper {
    padding: 1rem;
    min-height: calc(100vh - 48px);
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
